<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dennyy.osrscompanion"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name="com.dennyy.osrscompanion.AppController"
        android:allowBackup="true"
        android:icon="@drawable/osrscompanion4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dennyy.osrscompanion.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.dennyy.osrscompanion.FloatingViewService"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>